#grid{
    position: absolute;
    width : 565px;
    height: 400px;
    border: 2px solid;
    left : 670px; 
    top : 200px;
}
.rectangle{
    position: absolute;
    width: 65px;
    height: 20px;
    background-color: blue;
    border: 0px solid;
    left : 0px;
    top: 0px;
}
#userBlock{
    position: absolute;
    width: 125px;
    height: 20px;
    background-color: purple;
    border: 0px solid;
    left : 220px;
    top: 375px;
}
#ball{
    position:absolute;
    width: 20px;
    height: 20px;
    left: 272px;
    top: 370px; 
    background-color: red;
    border-radius: 10px;
}
h1{
    text-align: center;
    font-size: 80px;
}