#grid{
    width: 300px;
    height: 300px;
    border: solid black 1px;
    display: flex;
    flex-wrap: wrap;
}
#grid div{
    width: 20px;
    height: 20px;
}

.invader {
    border-radius: 10px;
    background-color: purple;
} 

.ship{
    background-color: blue;
}

.laser{
    background-color: orange;
} 

.sink{
    background-color: red;
}