#cards{
    width : 900px ;
    height : auto;
    flex-wrap: wrap;
}
img {  
    max-width: 100%;  
    height: auto;  
    }  
#result{
    font-size: 58px;
    width : 900px; 
    text-align: center;
}