.grid{
    display: flex;
    flex-wrap: wrap;
    border: black solid 1px;
    height: 180px;
    width: 180px;
}
.grid div{
    width: 20px;
    height: 20px;
}
.end-block{
    background-color: blue;
}
.start-block{
    background-color: red;
}

.log-left , .log-right{
    background-color: lightblue;
}

.car-left , .car-right {
    background-color: lightgrey;
}

.l1, .l2, .l3{
    background-color: brown;
}

.l4, .l5{
    background-color: lightblue;
}
.c1, .c3{
    background-color: lightblue;
}

.c2{
    background-color: black;
}

.frogg{
    background-color: green;
}